*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/uploads/Bg_main.png);
    background-size: cover;
}

header{
    width: 100%;
    height: 50px;
    background-color: #171717;
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: space-around;
}

.headerLinks{
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerLink{
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    padding: 3px;
}

.headerLink:hover{
    transition: 0.1s;
    color: rgb(189, 189, 189);
}

main{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 100px;
}

aside{
    width: 320px;
    height: 100%;
    background: linear-gradient(to bottom, #353535, #0B0B0B);
}

.BtnOrder{
    width: 100%-10px;
    height:50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    background-color: rgba(128, 128, 128, 0.486);
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: lighter;
    padding-left: 30px;
}

.BtnOrder:hover{
    background-color: rgba(165, 165, 165, 0.486);
}

.asideBtns{
    width: 100%;
    display: grid;
    align-items: center;
    padding-top: 20px;
}

.Contens{
    width: 70%;
    height: 50%;
    display: none;
    justify-content: center;
    align-content: center;
    background-color: #4A4A4A;
    border-radius: 5px;
}



