*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/uploads/Bg_order.png);
    background-size: cover;
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Massage{
    width: 950px;
    height: 150px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #e2592f, #D92258);
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 15px;
}

.MainMassage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.MassageLink{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: lighter;
}