*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/uploads/Bg_main.png);
    background-size: cover;
}

header{
    width: 100%;
    height: 50px;
    background-color: #171717;
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: space-around;
}

nav{
    width: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerLink{
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 14px;
    padding: 3px;
}

.headerLink:hover{
    transition: 0.1s;
    color: rgb(189, 189, 189);
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 20px;
}

.Filter{
    width: 300px;
    height: 330px;
    border-radius: 2px;
    background: linear-gradient(to bottom, #411E1E, #FF7B7B);
    display: grid;
    justify-items: center;
    align-items: center;
}

.FilterInputs{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

input{
    width:270px;
    height:40px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.459);
    padding-left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.FilterBtn{
    width: 250px;
    height: 45px;
    background-color: #3C3C3C;
    border-radius: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: white;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.671);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.FilterBtn:hover{
    transform: scale(1.05);
    transition: 0.1s;
}

.FilterBtn:active{
    transform: scale(0.95);
    transition: 0.1s;
    background-color: #242424;
}

.Card {
    position: relative;
    width: 1200px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.ConteinerCard1 {
    position: absolute;
    left: 0;
    width: 600px;
    height: 450px;
    background-image: url(/uploads/Img1_Card1.png);
    background-size: cover;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-content: end;
    grid-template-rows: 80px;
}

.ConteinerCard2 {
    position: absolute;
    left: 500px; /* Регулируйте отступ */
    width: 710px;
    height: 450px;
    background-image: url(/uploads/ImgCard1.png);
    background-size: cover;
    z-index: 1;
    pointer-events: none;
}

.ConteinerCard11 {
    position: absolute;
    left: 0;
    width: 1200px;
    height: 450px;
    background-image: url(/uploads/ImgCard2.png);
    background-size: cover;
    z-index: 2;
    display: grid;
    justify-content: center;
    align-content: end;
    grid-template-rows: 60px;
    grid-template-columns: 800px;
}

.Card1Btn{
    width: 240px;
    height: 50px;
    border-radius: 5px;
    background-color: #0077FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    border: none;
}

.Card1Btn:hover{
    transform: scale(1.05);
    transition: 0.1s;
    background-color: #0159bd;
}

.Card1Btn:active{
    transform: scale(0.95);
    transition: 0.1s;
    background-color: #0050ac;
}

.Cards {
    width: fit-content;
    height: 800px;
    display: grid;
    gap: 30px;
    padding: 10px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: #494949 #f0f0f0; /* Для Firefox */
}

/* Для Chrome, Edge, Safari */
.Cards::-webkit-scrollbar {
    width: 8px;
}

.Cards::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

.Cards::-webkit-scrollbar-thumb {
    background: #5325f7;
    border-radius: 10px;
}

.Cards::-webkit-scrollbar-thumb:hover {
    background: #411E1E;
}

