*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/uploads/Bg_order.png);
    background-size: cover;
}

main{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Block_Order{
    width: 950px;
    height: 360px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #ff6f44, #D92258);
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding-top: 40px;
}

.inputs{
    display: grid;
    justify-content: center;
    align-content:start;
    gap: 10px;
}

.input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 10px;
}

.BtnOrder{
    width: 245px;
    height: 50px;
    border-radius: 5px;
    background-color: #0077FF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    border: none;
    outline: none;
    color: white;
}

.BtnOrder:hover{
    transform: scale(1.05);
    transition: 0.1s;
    background-color: #035cc2;
}

.BtnOrder:active{
    transform: scale(0.95);
    transition: 0.1s;
    background-color: #0256b6;
}

.BtnPromo{
    width: 105px;
    height: 50px;
    border-radius: 5px;
    padding-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: lighter;
    border: none;
    outline: none;
}

.writer{
    display: grid;
    justify-content: space-between;
}

.btns{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.Price{
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 20px;
}

.Descriptions{
    display: grid;
    justify-content: start;
    align-items: start;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    grid-template-rows: 200px;
}

.Description{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(80px);
    border-radius: 5px;
}

.NowPrice{
    font-size: 48px;
    text-shadow: 0px 0px 5px white;
}

.OldPrice{
    font-size: 24px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.425);
    color: rgba(255, 255, 255, 0.425);
}